.button {
  padding: 10px 20px;
  background-color: #fff;
  color: #2c3e50;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
}
