.p-dialog-mask {
  background-color: #111111a6;
  transition-property: background-color;
}

.dialogForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
